{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Portal Index | Portal </title>
	
	<link rel="stylesheet" href='{% static "bootstrap.min.css" %}'>
	<link rel="stylesheet" href='{% static "common_footer.css" %}'>

	<script src='{% static "jquery-3.1.1.js" %}'></script>

	<style>
		body {
			background: #384047;
		}

		div.main{
			background: #f8f8f8;
			border: 2px solid #e7e7e7;
			border-radius: 5px;
		}
		
		.portal{
			font-size: 2.5em;
			padding-left: 3%;
		}

		header{
			padding-top: 20px;
		}

		.blue{
			color: #428bca;
		}

		.black{
			color: black;
		}

		input, select{
			padding-left: 10px;
			border: 1px solid #e5e5e5;
			border-radius: 5px;
			width: 30%;
		}

		select{
			padding: 4px;
		}

		form{
			font-size: 1.4em;
		}
		
		form label{
			font-weight: 300;
		}

		div.container{
			padding: 0;
		}

		nav.navbar{
			margin-bottom: 10px;
		}
		
		.navbar-default .navbar-nav > .active > a{
   			background: #428bca; 
   			color: white;	
 		}

		.navbar-default ul.navbar-nav > li > a{
			font-weight: 300;
			color: black;
			display: inline-block;
			font-size: 1.5em;
			/*color: #428bca;*/
		}
		
		.navbar-default ul.navbar-nav > li > a:last-child{
			margin-right: 15px;
		}

		.navbar-default .navbar-nav li a:hover{
			color: #428bca; 	
		}

		.navbar-default .navbar-nav .active a:hover{
			color: #428bca; 	
		}

		.navbar-default .navbar-nav > .active > a:focus {
		  color: black;
		  background: #428bca;
		}

		main{
			/*display: inline-block;*/
			padding: 15px 50px;
			background: #f8f8f8;
			border: 2px solid #e7e7e7;
			border-radius: 5px;
			margin-bottom: 10px;
		}

		h1{
			border-bottom: 2px solid #428bca;
			margin: 20px 0; 
			font-size: 2em;
			padding-left: 1.5%;
			padding-bottom: 10px;
			font-weight: 300;
		}
		
		h2{
			font-size: 1.5em;
			padding-left: 3%;
		}

		ul li{
			padding-left: 20px;
			display: inline;
		}

		ul{
			margin-bottom: 0; 
			padding-left: 0;
		}

		div.container div.col-sm-6{
			padding-left: 0;
		}

		span.username{
			font-size: 0.8em;
			margin-top: 0.5%;
		}

		table{
			width: 100%;
		}

		table tr th{
			width: 20%;
			text-align: center;
			color: #428bca;
			font-size: 1.5em;
			font-weight: 300;
			/*background: yellow;*/
		}
		
		table tr th:first-child{
			width: 60%;
			/*background: red;*/
		}
		
		table tr td{
			font-size: 1.2em;
		}

		.links a{
			color: black;
		}

		table.admin{
			color: #428bca;
			border: 1px solid #e7e7e7;
			/*border: 2px solid black;*/
		}

		table.admin a{
			color: #428bca;
			
		}

	</style>

	{% block style %}		{% endblock %}

</head>
<body>

	<header>
		<div class="container">
			<nav class="navbar navbar-default">

				<span class="portal pull-left">

					<a href="#" title="Portal">Portal</a>

				</span>
				


				<ul class="nav navbar-nav pull-right ">

					<li class="{% block active1 %} {% endblock %} ">

					</li>
					
				</ul>
			</nav>
		</div>
	</header>

		
	<div class="container">
		<main>
			<div class="row text-center">
				<div class="col-md-8">
					<h1 class="blue"> Practice Project - Job Portal </h1>
					
					<table class="table table-striped table-bordered">
						<tr> <th>Company Functionality</th> <th>CBV</th> </tr>
						<tr> <td>Register New Company</td> <td>Done</td> </tr>	
						<tr> <td>Login and Logout</td> <td>Done</td> </tr>	
						<tr> <td>Authentication and Authorization</td> <td>Done</td> </tr>	
						<tr> <td>Dashboard</td> <td>Done</td> </tr>	
						<tr> <td>Search Jobs and Pagination</td> <td>Done</td> </tr>	
						<tr> <td>Jobs CRUD</td> <td>Done</td> </tr>
						<tr> <td>Profile CRD - File Upload</td> <td>Done</td> </tr>
						<tr> <td>Settings - Change Password</td> <td>Done</td> </tr>
					</table>

				</div>
				<div class="col-md-4">
					<h1 class="blue">Important Links</h1>

					<div class="links">

					<table class="table table-striped table-bordered">
						<tr>
							<th>Company Links</th>
						</tr>

						<tr>
							<td>
								<a href="{% url 'register' %}" title="Company Register" target="_blank">Company Register</a>
							</td>
						</tr>
						
						<tr>
							<td>
								<a href="{% url 'login' %}" title="Company Login" target="_blank">Company Login</a> 
							</td>
						</tr>
					</table>
				
					<table class="table table-striped table-bordered admin">
						<tr>
							<th>
								<a href="/admin/login/" title="Django Admin Login" target="_blank" class="blue">Django Admin Login</a>
							</th>
						</tr>
					</table>
					
					</div>
				</div>

			</div>
		</main>
	</div>

	{% include "company/common_footer.html" with show_links=False %}

</body>
</html>