{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>{% block title %} {% endblock %} | Portal </title>
	

	<link rel="stylesheet" href='{% static "bootstrap.min.css" %}'>

	<script src='{% static "jquery-3.1.1.js" %}'></script>

	<style>
		body {
			background: #384047;
		}

		div.main{
			background: #f8f8f8;
			border: 2px solid #e7e7e7;
			border-radius: 5px;
		}
		
		.portal{
			font-size: 2.5em;
			padding-left: 3%;
		}

		header{
			padding-top: 20px;
		}

		footer div.container{
		    background-color: #f8f8f8;
			border: 2px solid #e7e7e7;
		    border-radius: 5px;
			padding: 10px;
			font-size: 1.5em;
			margin-bottom: 15px;
		}

		footer div p{
			margin: 0;
		}

		.blue{
			color: #428bca;
		}

		.black{
			color: black;
		}

		.red{
            color: red;
        }

        .rockstar{
            width: 24px;
            margin-bottom: 8px;
        }

		input, select{
			padding-left: 10px;
			border: 1px solid #e5e5e5;
			border-radius: 5px;
			width: 30%;
		}

		select{
			padding: 4px;
		}

		form{
			font-size: 1.4em;
		}
		
		form label{
			font-weight: 300;
		}

		div.container{
			padding: 0;
		}

		nav.navbar{
			margin-bottom: 10px;
		}
		
		.navbar-default .navbar-nav > .active > a{
   			background: #428bca; 
   			color: white;	
 		}

		.navbar-default ul.navbar-nav > li > a{
			font-weight: 600;
			color: black;
		}

		.navbar-default .navbar-nav li a:hover{
			color: #428bca; 	
		}

		.navbar-default .navbar-nav .active a:hover{
			color: #428bca; 	
		}

		.navbar-default .navbar-nav > .active > a:focus {
		  color: black;
		  background: #428bca;
		}

		main{
			margin-bottom: 10px;
		}

		h1{
			border-bottom: 2px solid #428bca;
			margin: 20px; 
			font-size: 2em;
			padding-left: 1.5%;
			padding-bottom: 10px;
		}
		
		h2{
			font-size: 1.5em;
			padding-left: 3%;
		}

		ul li{
			padding-left: 20px;
			display: inline;
		}
		ul{
			margin-bottom: 0; 
			padding-left: 0;
		}


		div.container div.col-sm-6{
			padding-left: 0;
		}

		span.username{
			font-size: 0.8em;
			margin-top: 0.5%;
		}

		.alert{
			margin-bottom: 10px;
		}

	</style>

	{% block style %}		{% endblock %}

</head>
<body>

	<header>
		<div class="container">
			<nav class="navbar navbar-default">

				<span class="portal pull-left">

					<a href="{% url 'dashboard' %}" title="Portal">Portal</a>

				</span>
				
				<ul class="nav navbar-nav pull-right">
					<li class="{% block active1 %} {% endblock %}">
						<a href="{% url 'dashboard' %}" title="Dashboard">Dashboard</a>
					</li>
					
					<li class="{% block active2 %} {% endblock %}">
						<a href="{% url 'search' %}" title="Search Jobs">Search Jobs</a>
					</li>

					<li class="{% block active3 %} {% endblock %}">
						<a href="{% url 'newJob' %}" title="Post New Job">Post New Job</a>
					</li>
					
					<li class="{% block active4 %} {% endblock %}">
						<a href="{% url 'profile' pk=user.pk %}" title="Profile">Profile</a>
					</li>
					
					<li class="{% block active5 %} {% endblock %}">
						<a href="{% url 'settings' %}" title="Settings">Settings</a>
					</li>
					
					<li>
						<a href="{% url 'logout' %}" title="Logout">Logout</a>
					</li>
				</ul>
				
				<ul class="nav navbar-nav pull-right">
				</ul>
			</nav>
		</div>
	</header>

		
	<main>
        <div>
            {% include "company/flashdata_messages.html" %}
        </div>

		<div class="container">

			{% block main %} 

			{% endblock %}
		</div>
	</main>

	{% include "company/common_footer.html" with show_links=True %}

</body>
</html>