{% load static %}

            <div class="col-sm-6">
				<p class="text-right black">Coded By 
					<a href="http://ryucoder.in/" title="RyuCoder" target="_blank">
						<img src=" {% static 'favicon.png' %}" alt="Rockstar" class="rockstar">
						<span class="black">Ryu</span><span class="red">Coder</span>
					</a>
				</p>
			</div>
