<footer>
    <div class="container">

        <div class="col-sm-6">
            <ul>
                <li class="black">&copy;
                    <span class="red">{% now "Y" %}</span>
                </li>
            
                {% include "company/footer_nav_links.html" with show_links=show_links %}

            </ul>
        </div>

        {% include "company/coded_by_ryucoder.html" %}

    </div>
</footer>