{%  extends "company/base.html" %}

{% block title %} Confirm Deletion {% endblock %}

{% block style %}

	<style>
		
		p label{
			width: 20%;
		}

		form{
			margin-left: 6%;
			margin-top: 3%;
		}

		form input[type="submit"]{
			margin-left: 20.5%;
			margin-top: 20px;
			margin-bottom: 20px;
			width: auto;
		}

	</style>

{% endblock %}

{% block active4 %} active {% endblock %}

{% block main %} 

	<div class="main">
		
		<h1 class="blue">

			<span> Confirm Profile Deletion </span>
				
			{% include "company/welcome_username_template.html" %}

		</h1>
			
		<form action="" method="POST">
			
			{% csrf_token %}

			<p>Are you sure you want to delete your company profile? </p>

			<input class="btn btn-danger" type="submit" value="Confirm"></input>
			<a class="btn btn-default" href=" {% url 'profile' object.pk %} " title="Cancel">Cancel</a>


		</form>

	</div>

{% endblock %}
