{%  extends "company/base.html" %}

{% load filters %}

{% block title %} Dashboard {% endblock %}
 
{% block active1 %} active {% endblock %}

{% block style %}

	<style>

	div.col-sm-3{
		/*padding: 30px;*/
	}

	.dash-menu{
		background-color: #f8f8f8;
		border: 2px solid #428bca;
		border-radius: 10px;
		text-align: center;
	}

	h2.count{
		font-size: 4em;
	}

	h2.title{
		font-size: 2em;
	}

	div.main{
		padding-bottom: 2%;
	}

	</style>

{% endblock %}

{% block main %} 

	<div class="main">

		<h1 class="blue">

			<span> Dashboard {{ objects }}</span>
				
			{% include "company/welcome_username_template.html" %}

		</h1>

		<div class="col-sm-12">
			
			<div class="col-sm-3">
				<div class="dash-menu">
					<h2 class="count">{{ count|twodigits }}</h2>
					<h2 class="title">Jobs</h2>
				</div>

			</div>

			<div class="col-sm-3">
				<div class="dash-menu">
					<h2 class="count">{{ applicants }}</h2>
					<h2 class="title">Applicants</h2>
				</div>

			</div>
			
			<div class="col-sm-3">
				<div class="dash-menu">
					<h2 class="count">{{ shortlisted }}</h2>
					<h2 class="title">Shortlisted</h2>
				</div>

			</div>

			<div class="col-sm-3">
				<div class="dash-menu">
					<h2 class="count">{{ joining }}</h2>
					<h2 class="title">Joining</h2>
				</div>

			</div>
			
		</div>

		<div class="clearfix"></div>

	</div>


{% endblock %}
