<div class="container">
    <div class="col-xs-12">
        <div class="row">

            {% if messages %}
            <div class="messages text-center">

                {% for message in messages %}
                <div {% if message.tags == 'success' %} class="alert alert-success" {% endif %} 
                     {% if message.tags == 'error' %} class="alert alert-danger" {% endif %} role="alert">
                    {{ message }}
                </div>
                {% endfor %}
                
            </div>
            {% endif %}
            
        </div>
    </div>
</div>