{% if show_links %}
    <li>
        <a href="#" title="Our Team">Our Team</a>
    </li>
    <li>
        <a href="#" title="FAQ">FAQ</a>
    </li>
    <li>
        <a href="#" title="Contact Us">Contact Us</a>
    </li>

{% endif %}