{%  extends "company/base.html" %}

{% block title %} Job Details {% endblock %}

{% block active2 %} active {% endblock %}


{% block style %}

	<style>
		
		p label{
			width: 20%;
		}

		div table.table{
			margin-left: 6%;
			margin-right: 6%;
			margin-top: 3%;
			margin-bottom: 3%;
			width: 88%;
		}

		table th {
			font-size: 1.5em;
			font-weight: 300;
			padding: 5px;
		}

		table td{
			font-size: 1.5em;
			/*font-weight: 100;*/
			padding: 5px;
			padding-left: 40px;
		}
	</style>

{% endblock %}


{% block main %} 

	<div class="main">
		
		<h1 class="blue">

			<span> Job Details : Job Id {{  job.job_id }} </span>
				
			{% include "company/welcome_username_template.html" %}

		</h1>
			
		<div>
			<table class="table table-bordered table-responsive ">
				
				<tr> <th>Job Title</th> 		<td>{{ job.job_title }}</td> 		</tr>
				<tr> <th>Job Location</th> 		<td>{{ job.job_location }}</td>		</tr>
				<tr> <th>Job Type</th> 			<td>{{ job.job_type }}</td>		</tr>
				<tr> <th>Job Salary</th> 		<td>{{ job.job_salary }}</td>		</tr>
				<tr> <th>Job Joining Date</th> 	<td>{{ job.job_starting_date }}</td>		</tr>

			</table>
		</div>

	</div>

{% endblock %}
