{%  extends "company/base.html" %}

{% block title %} Edit Job {% endblock %}

{% block active2 %} active {% endblock %}

{% block style %}

	<style>
		
		p label{
			width: 20%;
		}

		form{
			margin-left: 6%;
			margin-top: 3%;
		}

		form input[type="submit"]{
			margin-left: 20.5%;
			margin-top: 20px;
			margin-bottom: 20px;
		}

	</style>

{% endblock %}


{% block main %} 

	<div class="main">
		
		<h1 class="blue">

			<span> Edit Job : Job Id {{ object.job_id }} </span>
				
			{% include "company/welcome_username_template.html" %}

		</h1>
			
		<form action="" method="POST">
			
			{% csrf_token %}

			{{ form.as_p }}

			<input class="btn btn-primary" type="submit" value="Save Job"></input>
		</form>

	</div>

{% endblock %}
