{% load static %}
{% load filters %}

<!DOCTYPE html>
<html>
<head>
	<title>Login | Portal</title>

	<link rel="stylesheet" href='{% static "bootstrap.min.css" %}'>
	<link rel="stylesheet" href='{% static "common_footer.css" %}'>

	<style>
		body {
			background: #384047;
		}

		.portal{
			margin-top: 20px;
			font-size: 2.5em;
			padding-left: 3%;
		}

		main h2{
			padding-left: 3%;
		}

		main form{
			padding-top: 6%;
		}

		main{
			margin-bottom: 6%;
		}

		div.form{
			display: inline-block;
			padding: 30px 50px;
			background: #f8f8f8;
			border: 2px solid #e7e7e7;
			border-radius: 5px;
		}

		form p{
			text-align: left;
		}
		
		h3{
			margin-top: 10px; 
			margin-bottom: 30px;
    		padding-bottom: 10px;
    		border-bottom: 2px solid #428bca;
		}

		input{
			padding-left: 10px;
			border: 1px solid #e5e5e5;
			font-size: 1.6em;
			border-radius: 5px;
			display: block;
			background: #fff;
		}

		input.btn{
			margin-top: 20px;
			margin-bottom: 10px;
			width: 100%;
		}

		.center{
			text-align: center;
		}

		.blue{
			color: #428bca;
		}

	</style>
</head>
<body>

	<header>
		<div class="container">
		
			<div class="navbar navbar-default portal blue">
				<a href="{% url 'index' %}" title="Portal Index">Portal</a>
			</div>
		
		</div>
	</header>

	<main>
		{% include "company/flashdata_messages.html" %}

		<div class="container">
			<form class="center" action="" method="POST">
				
				<div class="form">
					
				<div class="center blue">
					<h3>Company Login</h3>
				</div>

					{% csrf_token %}

					{{ form.as_p }}

				<p class="center">
					<input class="btn btn-primary" type="Submit" value="Login">
				</p>

				</div>

			</form>
		</div>
	</main>
	
	{% include "company/common_footer.html" with show_links=False %}

</body>
</html>

