{%  extends "company/base.html" %}

{% block title %} Profile {% endblock %}

{% block active4 %} active {% endblock %}

{% block style %}

	<style>
		
		form{
			margin-left: 6%;
			margin-top: 3%;
		}

		p label{
			width: 20%;
		}
		
		textarea{
			border: 1px solid #e5e5e5;
			border-radius: 5px; 
			resize: none;
			width: 30%;
			padding-left: 10px;
		}

		input[type=file]{
			display: inline;
			padding-left: 0;
			background: white;
		}
		
		input[type=submit]{
			margin-left: 20%;
			width: 30%;
		}

		div.submitBtn{
			padding-left: 9px;
			margin-bottom: 30px;
		}

		p:nth-child(3) * {
		  vertical-align: top;
		}

		div.company-details{
			margin-left: 10%;
		}

		div.company-details	table tr th, div.company-details table tr td{
			padding-left: 15px; 
		}

	</style>


{% endblock %}

{% block main %} 

	<div class="main">
		
		<h1 class="blue">

			<span> Profile </span>
				
			{% include "company/welcome_username_template.html" %}

		</h1>
		

		<div class="col-xs-12">
			<div class="row">
				<div class="messages">
					{% if messages %}
						<ul class="messages text-center">
						    {% for message in messages %}
						    <li{% if message.tags %} class="col-md-8 col-md-offset-2 {{ message.tags }}"{% endif %}>{{ message }}</li>
						    {% endfor %}
						</ul>
					{% endif %}
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="company-details">
					
				<table class="table table-bordered table-responsive">
					<tr>
						<th>Company Name</th>
						<td>{{ profile.company_name }}</td>
					</tr>
					<tr>
						<th>Company Address</th>
						<td>{{ profile.company_address }}</td>
						
					</tr>
					<tr>
						<th>Company Email Id </th>
						<td>{{ profile.company_email }}</td>
						
					</tr>
					<tr>
						<th>Company Contact No</th>
						<td>{{ profile.company_contact }}</td>
						
					</tr>
	
				</table>

				<table>
					<tr>
						<td>
							<a class="btn btn-danger" href="{% url 'profileDelete' pk=user.pk%}" title="Delete">Delete Profile</a>
						</td>
					</tr>
				</table>

			</div>
		</div>

		<div class="col-md-6">
			<p class="">
			
				{% if profile.company_logo %}
					<img class="img img-responsive" src="/media/{{ profile.company_logo }}" title="Company Logo">
				{% endif %}

			</p>

		</div>

		<div class="clearfix"></div>
	</div>


{% endblock %}
