{% extends "company/base.html" %} 

{% block title %} Profile {% endblock %} 

{% block active4 %} active {% endblock %} 

{% block style %}

<style>
    form {
        margin-left: 6%;
        margin-top: 3%;
    }

    p label {
        width: 20%;
    }

    textarea {
        border: 1px solid #e5e5e5;
        border-radius: 5px;
        resize: none;
        width: 30%;
        padding-left: 10px;
    }

    input[type=file] {
        display: inline;
        padding-left: 0;
        background: white;
    }

    input[type=submit] {
        margin-left: 20%;
        width: 30%;
    }

    div.submitBtn {
        padding-left: 9px;
        margin-bottom: 30px;
    }

    p:nth-child(3) * {
        vertical-align: top;
    }

    div.company-details {
        margin-left: 10%;
    }

    div.company-details table tr th,
    div.company-details table tr td {
        padding-left: 15px;
    }
</style>


{% endblock %} 


{% block main %}

<div class="main">

    <h1 class="blue">

        <span> Profile </span>

        {% include "company/welcome_username_template.html" %}

    </h1>


    <div class="col-xs-12">
        <div class="row">
            <div class="messages">
                {% if messages %}
                <ul class="messages text-center">
                    {% for message in messages %}
                    <li{% if message.tags %} class="col-md-8 col-md-offset-2 {{ message.tags }}" {% endif %}>{{ message }}</li>
                        {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
    
    <div>
        <form action="" method="POST" enctype="multipart/form-data">
        
            {% csrf_token %}
        
            <div>
        
                {{ form.as_p }}
        
            </div>
        
            <div class="submitBtn">
                <input class="btn btn-primary" type="submit" value="Update Profile">
            </div>
        
        </form>
    </div>
    
</div>

<script type="text/javascript">
    // cant fix this issue with django form widget overriding,
    // cant figure out the solution, Hence this jugaad
    $(document).ready(function () {
        $("textarea").attr({ "rows": "5", "cols": "30" });
    });

</script>

{% endblock %}