{%  extends "company/base.html" %}

{% block title %} Search {% endblock %}

{% block active2 %} active {% endblock %}

{% block style %}

	<style>

		div.table-inside{
			padding-left: 4%;
			padding-right: 4%;
		}

		.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
		  background-color: #99ccff;
		}

		.table>tbody>tr>td{
			padding: 12px;
		}

		table thead tr th{
			text-align: center;
		}

		button{
			margin-right: 15px;
		}

		td button:nth-child(3){
			margin-right: 0;
		}

		div.col-sm-12{
			padding: 0 20px;
		}

		div.col-sm-3{
			padding: 10px;
		}

		div.col-sm-3 input{
			display: block;
			width: 100%;
			padding: 5px;
		}
		div.col-sm-3 div{
			width: 100%;
		}

		div.search button.search{
			margin-top: 20px;
			width: 100%;
		}

		div p select{
			padding: 8px;
			width: 100%;
		}

		span.count{
			/*float: right;*/
			color: #428bca;
			margin-right: 30px;
		}

		div.messages{
			width: 100%;
		}

		div.table-inside{
/*			border-bottom: 2px solid red;*/
		}
		
		.alert { 
			margin-top: 15px; 
		}

		div.paginate{
			border-top: 2px solid #428bca;
			/*padding: 0 4%;*/
			margin: 0 2%;
		}

		div.paginate div{
			display: inline;
		}

		ul.pagination li{
			float: right;
			padding-left: 0;
		}


	</style>

{% endblock %}

{% block main %} 

	<div class="main">

		<div class="search-area">
			<h1 class="blue">
			
				<span> Search Jobs </span>
				
				{% include "company/welcome_username_template.html" %}

			</h1>

			<div class="col-sm-12">
					
				<form action="" method="GET">
				
				
				<div class="col-sm-3">
					<label>Job Title</label>
					<input name="job_title" value="{{ request.GET.job_title }}" ></input>
				</div>
				<div class="col-sm-3">
					<label>Job Location</label>
					<input name="job_location" value="{{ request.GET.job_location }}" ></input>
				</div>
				<div class="col-sm-3">
					<label>Job Type</label>
					
					<p>
						<select id="id_job_type" name="job_type" required>
							<option value="-">Choose an option below</option>
							<option value="I"
								{% if request.GET.job_type == "I" %}
									{{ "selected" }}
								{% endif %}
							>Internship</option>

							<option value="T"
								{% if request.GET.job_type == "T" %}
									{{ "selected" }}
								{% endif %}
							>Temporary</option>

							<option value="C"
								{% if request.GET.job_type == "C" %}
									{{ "selected" }}
								{% endif %}
							>Contract</option>
							
							<option value="P"
								{% if request.GET.job_type == "P" %}
									{{ "selected" }}
								{% endif %}
							>Permanant</option>
							
							<option value="O"
								{% if request.GET.job_type == "O" %}
									{{ "selected" }}
								{% endif %}
							>Other</option>
						
						</select>
					</p>

				</div>
				<div class="col-sm-3">
					<label>Job Salary</label>
					<p>
						<select id="id_job_salary" name="job_salary" required>
							<option value="-">Choose an option below</option>
							<option value="ASP"
								{% if request.GET.job_salary == "ASP" %}
									{{ "selected" }}
								{% endif %}
								>As per standard
							</option>

							<option value="0"
								{% if request.GET.job_salary == "0" %}
									{{ "selected" }}
								{% endif %}
								>&lt; 1,00,000
							</option>

							<option value="1"
								{% if request.GET.job_salary == "1" %}
									{{ "selected" }}
								{% endif %}
								>1,00,000 to 2,99,999
							</option>
							
							<option value="3"
								{% if request.GET.job_salary == "3" %}
									{{ "selected" }}
								{% endif %}
								>3,00,000 to 5,99,999
							</option>
							
							<option value="6"
								{% if request.GET.job_salary == "6" %}
									{{ "selected" }}
								{% endif %}
								>6,00,000 to 9,99,999
							</option>
							
							<option value="10"
								{% if request.GET.job_salary == "10" %}
									{{ "selected" }}
								{% endif %}
								>10,00,000 +
							</option>
						
						</select>
					</p>
					
					<div class="search">
						<input class="btn btn-primary search" type="submit" value="Search Jobs">			
					</div>

				</div>
			

				</form>	
			</div>

			<div class="clearfix"></div>
		</div>

		<div class="col-xs-12">
			<div class="row">
				<div class="messages">
					{% if messages %}
						<ul class="messages text-center">
						    {% for message in messages %}
						    <li{% if message.tags %} class="col-md-8 col-md-offset-2 {{ message.tags }}"{% endif %}>{{ message }}</li>
						    {% endfor %}
						</ul>
					{% endif %}
				</div>
			</div>
		</div>

		<div class="clearfix"></div>

		<div class="listing">
			
			<h1 class="blue">Results 
			<span class="small count">
				[ Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} ]
			</span>

			</h1>
	
			<div class="table-inside">
					
				<table border="1" cellpadding="10" cellspacing="5" class="table table-hover text-center">

					<thead>
					<tr>			
						<th>Sr No</th>
						<th>Job Id</th>
						<th>Job Title</th>
						<th>Job Location</th>
						<th>Job Type</th>
						<th>Job Salary</th>
						<th>Actions</th>
					</tr>
					</thead>	
					<tbody>

					{% if count > 0 %}
						{% for x in jobs %}
							<tr>
								<td>{{ forloop.counter }}</td>
								<td>
									<a href="{% url 'jobDetail' x.id %}" title="See Job Details" target="_blank"> {{ x.job_id }} </a>
								</td>
								
								<td>{{ x.job_title }}</td>
								<td>{{ x.job_location }}</td>
								<td>{{ x.job_type }}</td>
								<td>{{ x.job_salary }}</td>

								<td>
									<a class="btn btn-warning" href="{% url 'jobEdit' x.id %}" title="Edit">Edit</a>
									<a class="btn btn-danger" href="{% url 'jobDelete' x.id %}" title="Delete">Delete</a>
								</td>					
							</tr>
						{% endfor %}

					{% else %}
					<tr>
						<td colspan="9">
							Sorry, no results to show, please modify your search parameters
						</td>
					</tr>

					{% endif %}

					</tbody>

				</table>
			</div>

		</div>

		<div class="paginate">
			<div class="pull-right">
				<ul class="pagination">

			        {% if page_obj.has_next %}
						<li>
							<a href="?page={{ page_obj.next_page_number }}&amp;
								job_title={{ request.GET.job_title }}&amp;
								job_location={{ request.GET.job_location }}&amp;
								job_type={{ request.GET.job_type }}&amp;
								job_salary={{ request.GET.job_salary }}
							">Next</a>
						</li>
			            
			        {% elif page_obj.number == page_obj.paginator.num_pages %}
						<li class="disabled" ><a href="#">Next</a></li>

			        {% endif %}

					<li class="active">
						<a href="?page={{ page_obj.number }}&amp;
							job_title={{ request.GET.job_title }}&amp;
							job_location={{ request.GET.job_location }}&amp;
							job_type={{ request.GET.job_type }}&amp;
							job_salary={{ request.GET.job_salary }}
						">Page {{ page_obj.number }}</a>

					</li>


			        {% if page_obj.has_previous %}
						<li>
							<a href="?page={{ page_obj.previous_page_number }}&amp;
								job_title={{ request.GET.job_title }}&amp;
								job_location={{ request.GET.job_location }}&amp;
								job_type={{ request.GET.job_type }}&amp;
								job_salary={{ request.GET.job_salary }}

								">Previous
							</a>
						</li>
			        {% elif page_obj.number == 1 %}
						<li class="disabled" ><a href="#">Previous</a></li>
			        {% endif %}

				</ul>
			</div>
		</div>

		<div class="clearfix"></div>
	</div>


{% endblock %}
