{%  extends "company/base.html" %}

{% block title %} Settings {% endblock %}

{% block style %}

	<style>
		
		p label{
			width: 20%;
		}

		input.update{
			margin-top: 20px;
		}

		form{
			margin-top: 20px;
			font-size: 1em;
			padding-left: 3%;
		}

		form input[type="submit"]{
			margin-left: 20.5%;
			margin-bottom: 20px;
		}
		
		div.form-section{
		    margin-top: 3%;
		    margin-left: 3%;
		}

		form{
			font-size: 1.2em;
		}

		form input{
			font-size: 1.4em;
		}


</style>

{% endblock %}

{% block active5 %} active {% endblock %}

{% block main %} 

	<div class="main">

		<h1 class="blue">

			<span> Settings </span>
				
			{% include "company/welcome_username_template.html" %}

		</h1>

		<div>
			<div class="form-section">
				
				<h2>Change Password</h2>

				<form action="" method="POST">

					{% csrf_token %}

					{{ form.as_p }}

					<input class="btn btn-primary update" type="Submit" value="Update Password"></input>

				</form>
		
			</div>
		</div>

	</div>

{% endblock %}

