.black{
    color: black;
}

.red{
    color: red;
}

.rockstar{
    width: 24px;
    margin-bottom: 8px;
}

div.container div.col-sm-6{
    padding-left: 0;
}

ul{
    margin-bottom: 0; 
    padding-left: 0;
}

ul li{
    padding-left: 20px;
    display: inline;
}

footer div.container{
    background-color: #f8f8f8;
    border: 2px solid #e7e7e7;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.5em;
    margin-bottom: 15px;
}

footer div p{
    margin: 0;
}
